@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg_img.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.main .box{
    height: 644px;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}
nav{
    width: 80vw;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.text{
    height: 544px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", serif;
    padding: 0 30px;
    
}
.text> :nth-child(1){
    font-weight: 900;
    font-size: 56px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.text> :nth-child(2){
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.text> :nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.seperation{
    height: 5px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.twobtn{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 7px;
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.884);
    background-color: rgba(248, 243, 243, 0);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.338);
    cursor: pointer;
}
.btn-red{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(229,9,20);
    color: white;
    padding: 13px 24px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm{
    background-color: rgb(229,9,20);
    font-weight: 600;
    
}

.inputbtn{
    padding-left: 13px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}